$margin-base: 5;
$padding-base: 5;

@for $i from 1 through 12 {
  .mt#{$i * $margin-base} {
    margin-top: #{$i * $margin-base}px !important;
  }
  .mb#{$i * $margin-base} {
    margin-bottom: #{$i * $margin-base}px !important;
  }
  .mr#{$i * $margin-base} {
    margin-right: #{$i * $margin-base}px !important;
  }
  .ml#{$i * $margin-base} {
    margin-left: #{$i * $margin-base}px !important;
  }
  .m#{$i * $margin-base} {
    margin: #{$i * $margin-base}px !important;
  }
  .pt#{$i * $padding-base} {
    padding-top: #{$i * $padding-base}px !important;
  }
  .pb#{$i * $padding-base} {
    padding-bottom: #{$i * $padding-base}px !important;
  }
  .pr#{$i * $padding-base} {
    padding-right: #{$i * $padding-base}px !important;
  }
  .pl#{$i * $padding-base} {
    padding-left: #{$i * $padding-base}px !important;
  }
  .p#{$i * $padding-base} {
    padding: #{$i * $padding-base}px !important;
  }
}

.w180 {
  width: 180px;
}

@for $i from 10 through 24 {
  .fs#{$i} {
    font-size: #{$i}px !important;
  }
}

.pl0 {
  padding-left: 0;
}
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.border {
  border: 1px solid black;
}

.c-white {
  color: white;
}

.c-normal {
  color: #727272;
}

// scss-lint:disable QualifyingElement
section[id] {
  margin-top: -100px;
  padding-top: 100px;
}
// scss-lint:enable QualifyingElement

.h130 {
  height: 130px;
}

.date {
  color: #727272;
}
