<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">やるかやらないかはあなた次第</h2>
          <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">人生を変える1年間にしませんか？<br/>
            体験授業随時開催中．詳しくは下記からどうぞ．</p>
          <a href="https://goo.gl/forms/xs4iWDJ6CxjOBY8o1"  class="w180 btn btn-default btn-contact wow fadeInDown" target="_blank">お問い合わせする</a>
        </div>
      </div>
    </div>
  </div>
</section>
