<section style="margin-top:120px; min-height:800px;">
  <div class="container">
    <h2 class="mb20">ソースコード</h2>
    <pre class="mb20"><code>
      <%= CGI.escapeHTML('
    <div class="code-description">
      <h3 class="mb20">ul,li</h3>
      <ul>
        <li>
          <a href="https://www.yahoo.co.jp/">Yahoo</a>
        </li>
        <li>
          <a href="https://www.google.co.jp/">Google</a>
        </li>
        <li>
          <a href="http://www.bing.com/">Bing</a>
        </li>
      </ul>
    </div>
    <div class="code-description">
      <h3 class="mb20">img</h3>
      <img src="http://baconmockup.com/350/250"><br/>
      <img src="http://baconmockup.com/250/350">
    </div>
      ') %>
    </code></pre>
    <h2 class="mb20">表示</h2>
    <div class="code-description">
      <h3 class="mb20">ul,li</h3>
      <ul>
        <li>
          <a href="https://www.yahoo.co.jp/">Yahoo</a>
        </li>
        <li>
          <a href="https://www.google.co.jp/">Google</a>
        </li>
        <li>
          <a href="http://www.bing.com/">Bing</a>
        </li>
      </ul>
    </div>
    <div class="code-description">
      <h3 class="mb20">img</h3>
      <img src="http://baconmockup.com/350/250"><br/>
      <img src="http://baconmockup.com/250/350">
    </div>
    <div class="mt30">
      <a href="../">戻る</a>
    </div>
  </div>
</section>
