<section style="margin-top:120px; min-height:800px;">
  <div class="container">
    <h2 class="mb20">ソースコード</h2>
    <pre class="mb20"><code>
      <%= CGI.escapeHTML('<div><div>divは基本的に，迷ったら使えばいいタグです．</div></div>
      <div><div>全体的にdivを使えばできます</div></div>
      <div class="20">下のような左右に配置する要素でも，divを使います．</div>
      <div class="border clearfix mt30">
        <div class="bg-red fl-l">
          左の要素
        </div>
        <div class="bg-blue fl-r c-white">
          右の要素
        </div>
      </div>') %>
    </code></pre>
    <h2 class="mb20">表示</h2>
    <div>
      <div><div>divは基本的に，迷ったら使えばいいタグです．</div></div>
      <div><div>全体的にdivを使えばできます</div></div>
      <div class="20">下のような左右に配置する要素でも，divを使います．</div>
      <div class="border clearfix mt30">
        <div class="bg-red fl-l">
          左の要素
        </div>
        <div class="bg-blue fl-r c-white">
          右の要素
        </div>
      </div>
    </div>
    <div class="mt30">
      <a href="../">戻る</a>
    </div>
  </div>
</section>

