<section style="margin-top:120px; min-height:800px;">
  <div class="container">
    <h2 class="mb20">ソースコード</h2>
    <pre class="mb20"><code>
      <%= CGI.escapeHTML('
      <h1>これはh1です"&lt;h1&gt;これはh1です&lt;/h1&gt;"</h1>
      <h2>これはh2です"&lt;h2&gt;これはh2です&lt;/h2&gt;"</h2>
      <h3>これはh3です"&lt;h3&gt;これはh3です&lt;/h3&gt;"</h3>
      <h4>これはh4です"&lt;h4&gt;これはh4です&lt;/h4&gt;"</h4>
      <h5>これはh5です"&lt;h5&gt;これはh5です&lt;/h5&gt;"</h5>
      ') %>
    </code></pre>
    <h2 class="mb20">表示</h2>
    <div>
      <h1>これはh1です"&lt;h1&gt;これはh1です&lt;/h1&gt;"</h1>
      <h2>これはh2です"&lt;h2&gt;これはh2です&lt;/h2&gt;"</h2>
      <h3>これはh3です"&lt;h3&gt;これはh3です&lt;/h3&gt;"</h3>
      <h4>これはh4です"&lt;h4&gt;これはh4です&lt;/h4&gt;"</h4>
      <h5>これはh5です"&lt;h5&gt;これはh5です&lt;/h5&gt;"</h5>
    </div>
    <div class="mt30">
      <a href="/basic-web.html">戻る</a>
    </div>
  </div>
</section>

