<section style="margin-top:120px; min-height:800px;">
  <div class="container">
    <h2 class="mb20">ソースコード</h2>
    <pre class="mb20"><code>
      <%= CGI.escapeHTML('
    <div class="code-description">
      <header>
        <p>headerやfooterはdivタグと変わらないが，SEO的に重要だったりします．</p>
      </header>
    </div>
    <div class="code-description">
      <footer>
        <p>他にもmain, asideやarticleなどSEOに使うタグが多々あったり，毎年増えてたりします．</p>
      </footer>
    </div>
      ') %>
    </code></pre>
    <h2 class="mb20">表示</h2>
    <div class="code-description">
      <header>
        <p>headerやfooterはdivタグと変わらないが，SEO的に重要だったりします．</p>
      </header>
    </div>
    <div class="code-description">
      <footer>
        <p>他にもmain, asideやsection, articleなどSEOに使うタグが多々あったり，毎年増えてたりします．</p>
      </footer>
    </div>
    <div class="mt30">
      <a href="../">戻る</a>
    </div>
  </div>
</section>

