<section style="margin-top:120px; min-height:800px;">
  <div class="container">
    <h2 class="mb20">ソースコード</h2>
    <pre class="mb20"><code>
      <%= CGI.escapeHTML('
    <div class="code-description">
      <h3 class="mb20">ul,li</h3>
      <ul>
        <li>ul,liを使えば順番に関係ないリストがかけます</li>
        <li>サンプルリスト</li>
        <li>
          <ul>
            <li>入れ子構造にすると</li>
            <li>こんな風にリストを作ることもできます</li>
            <li>サンプルリスト2</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="code-description">
      <h3 class="mb20">ol,li</h3>
      <ol>
        <li>ol,liを使えば順番のあるリストがかけます</li>
        <li>サンプルリスト</li>
        <li>
          <ul>
            <li>組み合わせて入れ子構造にすると</li>
            <li>こんな風にリストを作ることもできます</li>
            <li>サンプルリスト2</li>
          </ul>
        </li>
      </ol>
    </div>
      ') %>
    </code></pre>
    <h2 class="mb20">表示</h2>
    <div class="code-description">
      <h3 class="mb20">ul,li</h3>
      <ul>
        <li>ul,liを使えば順番に関係ないリストがかけます</li>
        <li>サンプルリスト</li>
        <li>
          <ul>
            <li>入れ子構造にすると</li>
            <li>こんな風にリストを作ることもできます</li>
            <li>サンプルリスト2</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="code-description">
      <h3 class="mb20">ol,li</h3>
      <ol>
        <li>ol,liを使えば順番のあるリストがかけます</li>
        <li>サンプルリスト</li>
        <li>
          <ul>
            <li>組み合わせて入れ子構造にすると</li>
            <li>こんな風にリストを作ることもできます</li>
            <li>サンプルリスト2</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="mt30">
      <a href="/basic-web.html">戻る</a>
    </div>
  </div>
</section>

