<section style="margin-top:120px;">
  <div class="container">
    <h2 class="mb20">テンプレート</h2>
    <pre><code>
      <%= CGI.escapeHTML('<!DOCTYPE html>
      <html>
        <head>
          <title>ここにタイトル</title>
          <meta charset="utf-8">
          <meta name="description" content="">
          <meta name="author" content="">
        </head>
        <body>
          ここに本文を書いて行きます
        </body>
      </html>') %>
    </code></pre>

  </div>
</section>

<section class="mt40">
  <div class="container">
    <h2 class="mb20">今日習うタグ</h2>
    <div >
      <ol>
        <li><%= link_to "divについて", "basic-web/div.html" %></li>
        <li><a href="/sideworks-education/basic-web/h.html">h1, h2, h3について</a></li>
        <li><a href="/sideworks-education/basic-web/p_br.html">p, br</a></li>
        <li><a href="/sideworks-education/basic-web/ul_li_ol.html">ul, li, olについて</a></li>
        <li><a href="/sideworks-education/basic-web/a.html">a, imgについて</a></li>
        <li><a href="/sideworks-education/basic-web/header_footer.html">header, footerについて</a></li>
      </ol>
    </div>
</section>
